<div class="container__content">
	<a class="content__return" [routerLink]="['']">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
			<path
				d="M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z"
			/>
		</svg>
	</a>
	<div class="content__cover">
		<img src="{{ photoCover }}" alt="" />
	</div>
	<div class="content__title">
		<h1>{{ contentTitle }}</h1>
	</div>
	<div class="content__description">
		<p>{{ contentDescription }}</p>
	</div>
</div>
