.container__content {
	width: 100%;
	height: 100%;
	padding: 2rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.content__return {
	position: absolute;
	left: 2rem;
	top: 2rem;
}
.content__return > svg {
	fill: white;
	transform: rotate(180deg);
}

.content__cover {
	width: 60%;
}

.content__cover > img {
	width: 100%;
	border-radius: 5px;
}
.content__title > h1 {
	text-align: center;
}
.content__description > p {
	padding: 0 2rem;
	color: lightgray;
	text-align: justify;
}
