<app-menu-title></app-menu-title>
<div class="articles">
	<div class="articles__main">
		<app-big-card
			id="1"
			photoCover="https://c4.wallpaperflare.com/wallpaper/600/634/482/soul-eater-soul-evans-maka-albarn-death-the-kid-wallpaper-preview.jpg"
			cardTitle="Vero inventore tenetur officia optio ex placeat"
			cardDescription="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero inventore tenetur officia optio ex placeat, obcaecati dicta iure quaerat asperiores deserunt tempora sunt, totam voluptatem, cupiditate delectus harum velit ullam.
		 Ipsa iusto deserunt veniam incidunt possimus qui nemo natus, placeat amet assumenda minus aliquam consequatur reiciendis similique distinctio eligendi ratione, nobis ullam perspiciatis quas eos ad ea sunt! Beatae, possimus."
		></app-big-card>
	</div>
	<div class="articles__others">
		<app-small-card
			id="2"
			photoCover="https://c4.wallpaperflare.com/wallpaper/900/19/675/shingeki-no-kyojin-eren-jeager-anime-wallpaper-preview.jpg"
			cardTitle="Distinctio debitis inventore non voluptate ad laboriosam obcaecati! Vel, neque dolores adipisci repellat."
		/>
		<app-small-card
			id="3"
			photoCover="https://www.hdwallpapers.net/previews/fullmetal-alchemist-504.jpg"
			cardTitle="Vel, neque dolores adipisci repellat, ducimus blanditiis quisquam
			tempore consequatur quis sit aut!"
		/>
		<app-small-card
			id="4"
			photoCover="https://c4.wallpaperflare.com/wallpaper/149/537/92/cowboy-bebop-anime-wallpaper-preview.jpg"
			cardTitle="Repellendus at nobis quaerat atque accusamus, non
			fugiat iure."
		/>
	</div>
</div>
